*{
    margin: 0;
    padding: 0;
    
}
body {
    background-image: url('../recursos/jpg/fondoMovil.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 15px;
}
.promocional{
    font-size: 18px;
}
p{
    font-size: 17px;
}
p,h1,h2{
    color: white;
}
.josefin-sans-bold {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}
.josefin-sans-ligth {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.josefin-sans-normal {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.flex-colum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.oportunidad{
    letter-spacing: 1px;
    margin: 17px;
}
.form-control-custom {
    font-size: 19px;
    text-align: center;
    color: black;
    font-weight: 600;
    width: 170px;
    height: 11px;
    background-color: #FAFAFC;
    border-radius: 9px;
    margin: 6px;
    padding: 13px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
}
.form-control-custom::placeholder{
    font-family: "Josefin Sans", sans-serif;
    font-size: 19px;
    text-align: center;
    color: black;
    font-weight: 600;
}
#logoMP{
    width: 179px;
    margin: 13px;
}
#tyc{
    margin-left: 10px;
    color: white;
    font-size: 13px;
    text-decoration: underline;
}
button {
    background: linear-gradient(45deg, #A37A1D, #D3A74D, #FFEB94, #E6BD69, #FFD77C, #B58E3D);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
    width: 195px;
    height: 42px;
    border-radius: 9px;
    color: black;
    margin: 18px;
}
.logoColjuegos{
    background-color: white;
    padding: 6px;
    border-radius: 9px 9px 0 0;
}
.logoGolden{
    width: 50px;
}
.cont-tyc{
    margin-top: 10px;
}
.txt-confirmacion{
    font-size: 15px;
}
#logoWonder{
    width: 100px;
}
  
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
   /* Estilos para el círculo de carga */
   #loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Asegura que esté por encima del div de superposición */
  }
  
  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ffeb94;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 /* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #D9D9D9;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Adjust as needed */
    max-width: 600px; /* Max width */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Light shadow */
    text-align: center; /* Center text */
  }
  
  .modal-img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    display: block;
    margin: 0 auto 20px auto; /* Center image with margin below */
  }
  
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bolder;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content>p{
    color: black;
    font-family: "Josefin Sans", sans-serif;
  }
  .validation-messages {
    color: #ffeb94;
    font-family: "Josefin Sans", sans-serif;
    margin: 16px 0 0 0px;
    font-weight: bolder;
    font-size: 14px;
    padding: 0px  46px;
}
.input-container {
    position: relative;
    margin-bottom: 8px;
}

.field-label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #888;
    font-size: 12px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(0);
    color: white;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

.form-control-custom:focus + .field-label,
.form-control-custom:not(:placeholder-shown) + .field-label {
    opacity: 1;
    transform: translateY(-20px);
}

